@import "../../generals/variables";

.label {
  width: 33.33%;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #c9c9c9;
  @media (max-width: $mediaS) {
    width: 100%;
    padding-bottom: 0;
    border-bottom: none;
    position: absolute;
    top: 2px;
    transition: all .3s;
    &.focus {
      font-size: 8px;
      top: -10px;
    }
  }
}

.input {
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 0 20px 0;
  background: transparent;
  color: #4d4d4d;
  line-height: 1.3;
  @media (max-width: $mediaS) {
    padding: 0 0 5px 0;
  }
  &:-webkit-autofill {
    background: transparent;
  }
  &:focus + .line {
    right: 0;
  }
  &:focus {
    color: $textColor;
  }
  &.required.invalid + .line {
    background-color: $themeColor1;
    right: 0;
  }
  &.required.valid + .line {
    background-color: $themeColor2;
  }
}

.inputWrapper {
  width: 66.67%;
  border-bottom: 2px solid #c9c9c9;
  position: relative;
  @media (max-width: $mediaS) {
    width: 100%;
  }
}

.line {
  position: absolute;
  height: 2px;
  bottom: -2px;
  background-color: #585858;
  left: 0;
  right: 100%;
  transition: right .5s;
}

.wrapper {
  display: flex;
  width: 100%;
  padding-bottom: 25px;
  flex-wrap: wrap;
  position: relative;
  &.right {
    justify-content: flex-end;
  }
}

.error {
  position: absolute;
  right: 0;
  top: 42px;
  color: $themeColor1;
  @media (max-width: $mediaS) {
    top: 27px;
  }
}

.dropdown {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  width: 100%;
  box-shadow: 0 6px 10px rgba(7, 7, 7, 0.09);
  overflow: hidden;
  height: 0;
  transition: height .5s;
  z-index: 1;
  background: $themeColor3;
  &.opened {
    height: 256px;
    @media (max-width: $mediaS) {
      height: 160px;
    }
  }
}

.option {
  padding: 25px;
  background-color: $themeColor3;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  user-select: none;
  &.selected, &:hover {
    background-color: #e8e8e8;
    color: #2a2929;
  }
  @media (max-width: $mediaS) {
    font-size: 10px;
    letter-spacing: 1px;
    padding: 15px;
    &:nth-child(2n) {
      background-color: lighten(#e8e8e8, 5%);
      &.selected {
        background-color: #e8e8e8;
      }
    }
  }
}

.select {
  background: url("./check.svg") no-repeat 100% 50%;
}

.textarea {
  width: 100%;
  height: 170px;
  .input {
    width: 100%;
    height: 100%;
    resize: none;
    line-height: 1;
  }
  @media (max-width: $mediaS) {
    height: 126px;
  }
  @media (max-width: $mediaXS) {
    height: 50px;
  }
}

.textareaLabel {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  position: absolute;
  top: 0;
  left: 0;
  &.focus {
    display: none;
  }
  @media (max-width: $mediaS) {
    transition: all .3s;
    &.focus {
      display: block;
      font-size: 8px;
      top: -12px;
    }
  }
}

.file {
  display: none;
}

.fileLabel {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  cursor: pointer;
  vertical-align: middle;
  @media (max-width: $mediaXS) {
    font-size: 10px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fileLabelPlus {
  font-size: 24px;
  font-weight: 500;
  vertical-align: middle;
  display: inline-block;
  height: 21px;
  position: relative;
  top: -2px;
  transform-origin: center;
  &.loading {
    animation: rotate 1s infinite linear;
  }
  @media (max-width: $mediaXS) {
    font-size: 18px;
    top: 1px;
  }
}

.fileName {
  width: 100%;
  text-align: right;
  color: #4d4d4d;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  height: 15px;
  padding-top: 20px;
  @media (max-width: $mediaXS) {
    padding-top: 0;
    height: auto;
  }
}