@import "../../../generals/variables";

.menu {
  opacity: 0;
  transition: opacity $menuTransitionTime;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: $mediaM) {
    left: unset;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 50px;
  }
  &.opened {
    opacity: 1;
  }
}

.list {
  display: flex;
  justify-content: center;
  @media (max-width: $mediaM) {
    display: block;
    text-align: right;
  }
}

.menuWrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: height $menuTransitionTime;
  overflow: hidden;
  &:after, &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 1s;
  }
  &:after {
    opacity: 1;
    z-index: -2;
    background-image: linear-gradient(to right, #0b58a3 6%, #434c85 28%, #b93247 74%, #fc2324 100%);
    @media (max-width: $mediaS) {
      background-image: linear-gradient(to bottom, #0b58a3 6%, #434c85 28%, #b93247 74%, #fc2324 100%);
    }
  }
  &:before {
    opacity: 0;
    z-index: -1;
    background-image: linear-gradient(to right, #fc2324 6%, #b93247 28%, #434c85 74%, #0b58a3 100%);
    @media (max-width: $mediaS) {
      background-image: linear-gradient(to bottom, #fc2324 6%, #b93247 28%, #434c85 74%, #0b58a3 100%);
    }
  }
  &.toggleGradient {
    &:before {
      opacity: 1;
    }
  }
  &.opened {
    height: 100%;
  }
}

.bottom {
  position: absolute;
  bottom: $pageSpaceTopBottom;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity $menuTransitionTime;
  @media (max-width: $mediaS) {
    bottom: $pageSpaceTopBottomS;
  }
  &.opened {
    opacity: 1;
  }
}

.top {
  position: absolute;
  top: $pageSpaceTopBottom;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
}