@import "../../../../generals/variables";

.button {
  font: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 0;
  margin: 0;
  width: 345px;
  height: 80px;
  background: $gradientText;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  overflow: hidden;
  color: $textColor;
  @media (max-width: $mediaXS) {
    width: 240px;
    height: 50px;
  }
  &:hover {
    .textCopy {
      clip: rect(0px, 345px, 80px, 0px);
    }
    .gradientWrapper {
      width: 345px;
      @media (max-width: $mediaXS) {
        width: 240px;
      }
    }
    @media #{$isTouch} {
      .textCopy {
        clip: unset;
      }
      .gradientWrapper {
        width: 100%;
      }
    }
  }
}

.textCopy {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  color: $themeColor3;
  display: flex;
  align-items: center;
  justify-content: center;
  clip: rect(0px, 0px, 80px, 0px);
  transition: clip .5s;
  @media (max-width: $mediaXS) {
    height: 50px;
  }
  @media #{$isTouch} {
    clip: unset;
  }
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 345px;
  height: 80px;
  z-index: -1;
  @media (max-width: $mediaXS) {
    width: 240px;
    height: 50px;
  }
}

.rect {
  fill: $gradientText;
}

.gradientWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 80px;
  overflow: hidden;
  transition: width .5s;
  @media (max-width: $mediaXS) {
    height: 50px;
  }
  @media #{$isTouch} {
    width: 100%;
  }
}