@import "../../../generals/variables";

$intensity: 17;
$height: 455;
$width: 790;
$offset: 10px;
$background: transparent;

.glitchElement {
  width: 100%;
  height: 100%;
}

.logo, .glitchWrapper {
  width: $width + px;
  height: $height + px;
}

@keyframes glitchAnimation1 {
  0% {
    clip: rect(0px, 100vw, 0px, 0);
  }
  2% {
    clip: rect(300px, 100vw, 310px, 0);
  }
  4% {
    clip: rect(300px, 100vw, 310px, 0);
  }
  6% {
    clip: rect(0px, 100vw, 0px, 0);
  }
  47%{
    clip: rect(0px, 100vw, 0px, 0);
  }
  49% {
    clip: rect(330px, 100vw, 340px, 0);
  }
  51% {
    clip: rect(330px, 100vw, 340px, 0);
  }
  53% {
    clip: rect(0px, 100vw, 0px, 0);
  }
  94% {
    clip: rect(0px, 100vw, 0px, 0);
  }
  96% {
    clip: rect(430px, 100vw, 440px, 0)
  }
  98% {
    clip: rect(430px, 100vw, 440px, 0)
  }
  100% {
    clip: rect(0px, 100vw, 0px, 0);
  }
}

@keyframes glitchAnimation2 {
  0% {
    clip: rect(0px, 100vw, 0px, 0);
  }
  0.1% {
    clip: rect(220px, 100vw, 260px, 0);;
  }
  5.9% {
    clip: rect(220px, 100vw, 260px, 0);
  }
  6% {
    clip: rect(0px, 100vw, 0px, 0);
  }
  47%{
    clip: rect(0px, 100vw, 0px, 0);
  }
  47.1% {
    clip: rect(30px, 100vw, 140px, 0);
  }
  52.9% {
    clip: rect(30px, 100vw, 140px, 0);
  }
  53% {
    clip: rect(0px, 100vw, 0px, 0);
  }
  94% {
    clip: rect(0px, 100vw, 0px, 0);
  }
  94.1% {
    clip: rect(400px, 100vw, 410px, 0)
  }
  99.9% {
    clip: rect(400px, 100vw, 410px, 0)
  }
  100% {
    clip: rect(0px, 100vw, 0px, 0);
  }
}

.glitchAfter {
  animation-name: glitchAnimation1;
  animation-duration: 3s;
  //filter: hue-rotate(50deg);
  //transform: scaleX(1.1);
  //animation: none;
  //clip: rect(31px, 100vw, 32px, 0);
  //@include glitchAnimationMixin('anim1', $intensity, $height);
  @include glitchAfterMixin($offset, $background);
}

.glitchBefore {
  animation-name: glitchAnimation2;
  animation-duration: 3s;
  //filter: hue-rotate(50deg);
  //transform: scaleX(1.1);
  //animation: none;
  //clip: rect(30px, 100vw, 33px, 0);
  //@include glitchAnimationMixin('anim2', $intensity, $height);
  @include glitchBeforeMixin($offset, $background);
}