@import "../../generals/variables";

@keyframes ticker {
  0% {
    left: 100%;
    transform: translateX(0%);
  }
  100% {
    left: 0;
    transform: translateX(-100%);
  }
}

.text {
  position: absolute;
  top: 110px;
  color: rgba($textColorLight, .12);
  font-size: 164px;
  text-transform: uppercase;
  letter-spacing: 15px;
  user-select: none;
  white-space: nowrap;
  z-index: -1;
  @media (max-width: $mediaS) {
    top: 90px;
    animation: ticker 10s infinite linear;
  }
}

.sub {
  position: absolute;
  bottom: 24px;
  letter-spacing: 0;
  text-transform: none;
  left: 0;
  color: #202020;
  font-size: 48px;
  font-weight: 700;
}