@import "../../../generals/variables";

@keyframes sliderSlideLeft {
  from {
    transform: translateY(-50%) translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
  }
}

@keyframes sliderSlideRight {
  from {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50%) translateX(100%);
    opacity: 0;
  }
}

.wrapper {
  position: relative;
  height: 100vh;
  user-select: none;
  * {
    user-select: none;
  }
  img {
    -webkit-user-drag: none;
  }
}

.slider {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  &.open {
    animation: sliderSlideLeft 1s;
  }
  &.close {
    animation: sliderSlideRight 1s;
  }
}

